default:
    calls:
        error_reporting: 16383 # E_ALL & ~E_USER_DREPRECATED
    suites:
        default:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Behatch\Context\RestContext
                - Behatch\Context\JsonContext
                - Demo\Behat\Contexts\RestContext
                - Demo\Behat\Contexts\FeatureContext:
                    doctrine: '@doctrine'
                - Demo\Behat\Contexts\EmployeeContext:
                    doctrine: '@doctrine'
    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: vendor/autoload.php
                env: "test"
                debug: false
                class: Demo\Kernel
        Behat\MinkExtension:
            base_url: "http://example.com/"
            sessions:
                default:
                    symfony2: ~
        Behatch\Extension: ~