default:
    calls:
        error_reporting: 16383 # E_ALL & ~E_USER_DREPRECATED
    suites:
        core:
            paths:
                - "features"
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Behatch\Context\JsonContext
                - Omed\Behat\Contexts\UserContext:
                    doctrine: "@doctrine"
                    jwtManager: "@lexik_jwt_authentication.jwt_manager"
                - Omed\Behat\Contexts\RestContext:
                    router: "@router"
                - Omed\Behat\Contexts\EmployeeContext:
                    doctrine: '@doctrine'
    extensions:
        Behat\Symfony2Extension:
            kernel:
                bootstrap: vendor/autoload.php
                env: "test"
                debug: true
                class: Omed\Core\Kernel
        Behat\MinkExtension:
            base_url: "http://example.com/"
            sessions:
                default:
                    symfony2: ~
        Behatch\Extension: ~

coverage:
    suites:
        core:
            contexts:
                - Behat\MinkExtension\Context\MinkContext
                - Behatch\Context\JsonContext
                - Omed\Behat\Contexts\UserContext:
                    doctrine: "@doctrine"
                    jwtManager: "@lexik_jwt_authentication.jwt_manager"
                - Omed\Behat\Contexts\RestContext:
                    router: "@router"
                - Omed\Behat\Contexts\EmployeeContext:
                    doctrine: '@doctrine'
